{% extends 'BiblioApp/base.html' %}
{% block title %}Home | BiblioNest{% endblock %}
{% block content %}
<h2>Your Collections</h2>
{% if collections %}
    {% for collection in collections %}
        <div class="collection">
            <h3><a href="{% url 'BiblioApp:view_collection' collection.id %}">{{ collection.name }}</a></h3>
        </div>
    {% endfor %}
{% else %}
    <p>You have no collections yet.</p>
{% endif %}
<a href="{% url 'BiblioApp:add_collection' %}" class="add-button">Add Collection</a>
{% endblock %}
